
/* ---------===preloader Styling Start===--------- */

.preloader {
  background-color: #222222;
  background-color: #011015;
  background-color: #0a0909;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 150;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
}
.welcome{
  font-size: 26px;
  margin-bottom: 350px;
  /* padding: 100px; */
}
.welcome .text{
  font-family: "Open sans", sans-serif;
  color: #dae4e9;
}
.welcome .imogi{
  margin-left: 45%;
} 
.loader{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader.opacity-0 {
  opacity: 0;
}
.ring{
  width: 200px;
  height: 200px;
  border: 0px solid #011015;
  border-radius: 50%;
  position: absolute;
}

.ring:nth-child(1){
  border-bottom-width: 8px;
  border-color: rgb(255,0,255);
  animation: rotate1 2s linear infinite;
}

.ring:nth-child(2){
  border-right-width: 8px;
  border-color: rgb(0,247,255);
  animation: rotate2 2s linear infinite;
}
.ring:nth-child(3){
  border-top-width: 8px;
  border-color: rgb(0,255,13);
  animation: rotate3 2s linear infinite;
}
.loading{
  /* color: white; */
  color: #dae4e9;
}

@keyframes rotate1{
  0%{
    transform:rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100%{
    transform:rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate2{
  0%{
    transform:rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100%{
    transform:rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
} 
@keyframes rotate3{
  0%{
    transform:rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100%{
    transform:rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

.preloader.opacity-0 {
  opacity: 0;
}
/* -------===Preloader styling end===---------- */





/*-- Google Fonts --*/
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;0,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
}
body.dark {
  --bg-black-900: #151515;
  --bg-black-100: #222222;
  --bg-black-50: #393939;
  --text-black-900: #ffffff;
  --text-black-700: #e9e9e9;
}
body {
  margin: 0;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}
input,
textarea,
select {
  font-family: "Open Sans", sans-serif;
}
.section {
  background-color: var(--bg-black-900);
  min-height: 100vh;
  display: block;
  padding: 0 30px;
  position: fixed;
  left: 270px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  opacity: 1;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.section.back-section {
  z-index: 1;
}
.section.active {
  z-index: 2;
  opacity: 1;
  -webkit-animation: slidesection 1s ease-in-out;
  animation: slidesection 1s ease-in-out;
}
@keyframes slidesection {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
.main-content {
  padding-left: 270px;
}
.container {
  max-width: 1100px;
  margin: auto;
  width: 100%;
}
.shadow-dark {
  -webkit-box-shadow: 0 0 20px rgba(48, 46, 77, 0.5);
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.5);
}
body.dark .shadow-dark {
  -webkit-box-shadow: none;
  box-shadow: none;
}
::before,
::after {
  box-sizing: border-box;
}

/*ASide*/
.aside {
  width: 270px;
  background-color: var(--bg-black-100);
  position: fixed;
  left: 0;
  top: 0;
  padding: 30px;
  height: 100%;
  z-index: 11;
  border-right: 1px solid var(--bg-black-50);
  /* justify-content: center;
  align-items: center; */
  z-index: 11;
  transition: all 0.3s ease;
}
.aside .aside-inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  overflow-y: auto;
}
.aside .logo {
  padding: 30px 0;
  margin-top: 30px;
  margin-left: 15%;
  /* padding-left: 30%; */
}
.aside .logo a {
  font-size: 40px;
  color: var(--text-black-900);
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding: 0px 15px;
  line-height: 50px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.aside .logo a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid var(--skin-color);
  border-left: 5px solid var(--skin-color);
  bottom: 0;
  left: 0;
}
.aside .logo a::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 5px solid var(--skin-color);
  border-right: 5px solid var(--skin-color);
  top: 0;
  right: 0;
}
.aside .nav-toggler {
  height: 40px;
  width: 45px;
  border: 1px solid var(--bg-black-50);
  cursor: pointer;
  position: absolute;
  left: 300px;
  top: 20px;
  z-index: 11;
  border-radius: 5px;
  background-color: var(--bg-black-100);
  /* display: flex;
    display: -ms-flexbox; */
  display: none;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.aside .nav-toggler span {
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  display: inline-block;
  position: relative;
}
.aside .nav-toggler.open span {
  background-color: transparent;
}
.aside .nav-toggler span::before {
  content: "";
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: -6px;
  left: 0;
}
.aside .nav-toggler.open span::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  top: 0px;
}
.aside .nav-toggler span::after {
  content: "";
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: 6px;
  left: 0;
}
.aside .nav-toggler.open span::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  top: 0px;
}
.hidden {
  display: none;
}

.aside .nav {
  margin: 80px 0;
  margin-top: 50px;
  list-style: none;
  padding: 0;
}
.aside .nav li {
  display: block;
}
.aside .nav li a {
  font-family: "Poppins", sans-serif;
  padding-left: 15%; /* extra code to centralize*/
  margin-left: 10%;
  margin-right: 15%;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 600;
  color: var(--text-black-900);
  text-decoration: none;
  line-height: 45px;
  display: block;
  border-bottom: 1px solid var(--bg-black-50);
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  text-transform: capitalize;
}
.aside .nav li a:hover,
.aside .nav li a.active {
  color: var(--skin-color);
}
.aside .nav li a:not(.active):hover {
  /* padding-left: 8px; */
  font-size: 1.05rem;
}

.aside .nav li a .fa {
  margin-right: 12px;
}
.aside .copyright-text {
  font-size: 13px;
  color: var(--text-black-700);
  margin-left: 10%;
}

.home {
  min-height: 100vh;
  display: flex;
  display: -ms-flexbox;
}
.home .intro {
  text-align: center;
  margin-top: 45px;
}
.home .intro img {
  height: 220px;
  width: 220px;
  border-radius: 50%;
  display: inline-block;
}
.home .intro h1 {
  font-size: 30px;
  color: var(--text-black-900);
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  margin: 20px 0 5px;
}
.home .intro p {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  line-height: 22px;
  color: var(--text-black-700);
}
.home .intro .quote {
  font-size: 14px;
  color: gray !important;
}
.home .intro .social,
.cp-platforms {
  margin-top: 35px;
}
.home .intro .social a {
  height: 35px;
  width: 35px;
  display: inline-block;
  text-align: center;
  line-height: 35px;
  color: white;
  background-color: var(--skin-color);
  margin: 0 5px;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.home .intro .social a:hover {
  -webkit-transform: scale(1);
  transform: scale(1.1);
  box-shadow: 0 0 8px rgba(48, 46, 77, 0.5);
  -webkit-box-shadow: 0 0 8px rgba(48, 46, 77, 0.5);
}
.home .intro .cp-platforms {
  margin-top: 35px;
  /* font-size: 17px; */
  /* font-weight: 500; */
}
.home .intro .cp-platforms a,
.home .intro .cp-platforms span {
  /* display: inline-block; */
  /* text-align: center; */
  /* color: #504e70; */
  color: #6c68a2;
  margin-right: 5px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.home .intro .cp-platforms a:hover {
  /* color: #6b5f5f; */
  color: #1d397a;
  text-decoration: underline;
  /* box-shadow: 0 0 8px rgba(48, 46, 77, 0.5); */
  /* -webkit-box-shadow: 0 0 8px rgba(48, 46, 77, 0.5); */
}

/*--------------------------about----------------------------*/
.section .container {
  padding-top: 60px;
  padding-bottom: 70px;
}
.section-title {
  max-width: 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  margin-bottom: 60px;
}
.section-title h2 {
  font-size: 40px;
  color: var(--text-black-900);
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  margin: 0;
  position: relative;
}
.section-title h2::before {
  content: "";
  height: 4px;
  width: 50px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
}
.section-title h2::after {
  content: "";
  height: 4px;
  width: 25px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  position: relative;
}
.padd-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.about .about-content {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .about-text {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .about-text h3 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--text-black-900);
}
.about .about-content .about-text h3 span {
  color: var(--skin-color);
}
.about .about-content .about-text p {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
  margin: 0;
}
.about .about-content .personal-info {
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%;
  margin-top: 40px;
}
.about .about-content .personal-info .info-item {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.about .about-content .personal-info .info-item p {
  font-weight: 600;
  padding: 10px 0;
  font-size: 16px;
  color: var(--text-black-900);
  margin: 0;
  border-bottom: 1px solid var(--bg-black-50);
}
.about .about-content .personal-info .info-item p span {
  font-weight: 400;
  color: var(--text-black-700);
  margin-left: 4px;
  display: inline-block;
}
.btn {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  padding: 12px 35px;
  color: white;
  background: var(--skin-color);
  border-radius: 40px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
}


.btn:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.about .about-content .personal-info .buttons {
  margin-top: 30px;
}
.about .about-content .personal-info .buttons .btn {
  margin-right: 15px;
  margin-top: 10px;
}

.about .about-content .skills {
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%;
  margin-top: 40px;
}
.about .about-content .skills .skill-items {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .skills .skill-items h5 {
  line-height: 15px;
  font-weight: 600;
  padding: 10px 0;
  font-size: 16px;
  color: var(--text-black-900);
  text-transform: capitalize;
}
.about .about-content .skills .skill-items .progress {
  background-color: var(--bg-black-50);
  height: 6px;
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
  position: relative;
  margin: 0;
}
.about .about-content .skills .skill-items {
  margin-bottom: 30px;
}
.about .about-content .skills .skill-items .progress .progress-in {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 4px;
  background-color: var(--skin-color);
}
.about .about-content .education,
.about .about-content .experience {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  margin-top: 30px;
}
.about .about-content h3.title {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
  color: var(--text-black-900);
}
.about .about-content .timeline-box {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .timeline {
  background-color: var(--bg-black-100);
  padding: 30px 15px;
  border-radius: 10px;
  border: 1px solid rgb(120, 120, 120);
  width: 100%;
  position: relative;
}
.about .about-content .timeline .timeline-item {
  position: relative;
  padding-left: 30px;
  /*padding-bottom: 50px; */
}
.about .about-content .timeline .timeline-item:last-child {
  padding-bottom: 0;
}
.about .about-content .timeline .timeline-item::before {
  content: "";
  width: 1px;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--skin-color);
}
.about .about-content .timeline .circle-dot {
  position: absolute;
  left: 0;
  top: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--skin-color);
  left: -7px;
}
.about .about-content .timeline .timeline-date {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  color: var(--text-black-700);
}
.about .about-content .timeline .timeline-date .fa {
  margin-right: 5px;
}
.about .about-content .timeline .timeline-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: var(--text-black-900);
}
.about .about-content .timeline .timeline-text {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
  margin: 0;
  padding-bottom: 50px;
}
.about .about-content .timeline-text span {
  color: var(--skin-color);
}

/* services-section */
.services .container {
  padding-bottom: 40px;
}

.services .services-item {
  margin-bottom: 30px;
  -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  left: 0;
  right: 0;
  display: flex;
}
.services .services-item .service-item-inner {
  background-color: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  padding: 30px 15px;
  text-align: center;
  width: 100%;
}
.services .services-item .service-item-inner:hover {
  -webkit-box-shadow: 0 0 10px rgba(48, 46, 77, 0.5);
  box-shadow: 0 0 10px rgba(48, 46, 77, 0.5);
}
.services .services-item .service-item-inner .icon {
  height: 60px;
  width: 60px;
  display: block;
  text-align: center;
  margin: 0 auto 30px;
  border-radius: 50%;
  -webkit-transition: all 0.5 ease-in-out;
  transition: all 0.5 ease-in-out;
}
.services .services-item .service-item-inner:hover .icon {
  background: var(--skin-color);
}
.services .services-item .service-item-inner .icon .fa {
  font-size: 40px;
  line-height: 60px;
  color: var(--skin-color);
  -webkit-transition: all 0.5 ease-in-out;
  transition: all 0.5 ease-in-out;
}
.services .services-item .service-item-inner:hover .icon .fa {
  font-size: 25px;
  color: white;
}
.services .services-item .service-item-inner h4 {
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--text-black-900);
  font-weight: 700;
  text-transform: capitalize;
}
.services .services-item .service-item-inner p {
  font-size: 16px;
  color: var(--text-black-700);
  line-height: 25px;
}
.outer-links {
  color: var(--skin-color);
}
/* project section */
.project .container {
  padding-bottom: 40px;
}
.project .project-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  margin-bottom: 30px;
  display: -ms-flexbox;
  display: flex;
}
.project .project-item-inner {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--bg-black-50);
}
.project .project-item-inner .project-img {
  position: relative;
  overflow: hidden;
}
.project .project-item-inner .project-img img {
  width: 100%;
  display: block;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.project .project-item-inner:hover .project-img img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.project .project-item-inner .project-img .project-date {
  position: absolute;
  padding: 4px 10px;
  color: white;
  background-color: var(--skin-color);
  font-weight: 600;
  font-size: 14px;
  border-radius: 5px;
  left: 15px;
  bottom: 15px;
}
.project .project-item-inner .project-info {
  padding: 30px 15px;
  background-color: var(--bg-black-100);
  width: 100%;
  height: 100%;
}
.project .project-item-inner .project-info .project-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-black-900);
  /* text-align: center; */
  text-transform: capitalize;
  margin-bottom: 10px;
}
.project .project-item-inner .project-info .project-discription {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
  font-weight: 400;
  margin-bottom: 15px;
}
.project-btn {
  font-size: 12px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  padding: 7px 18px;
  margin-top: 10px;
  margin-right: 5%;
  margin-left: 5%;
  /* color: #fff; */
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  bottom: -1px;
}
.project .project-item-inner .project-info .project-buttons {
  margin-left: 5%;
  align-items: center;
  justify-content:center ;
  /* display: block; */
}
.project .project-item-inner .project-info .project-buttons a {
  background-color: var(--skin-color);
}
.project .project-item-inner .project-info .project-tags {
  font-size: 14px;
  line-height: 25px;
  color: var(--text-black-700);
  font-weight: 400;
  text-transform: capitalize;
}
.project .project-item-inner .project-info .project-tags span {
  text-decoration: none;
  font-weight: 600;
  color: var(--skin-color);
}

/* contact */
.contact-title {
  color: var(--skin-color);
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}
.contact-sub-title {
  color: var(--text-black-900);
  text-align: center;
  font-size: 15px;
  margin-bottom: 60px;
}

.contact .contact-info-item {
  flex: 0 0 33.33%;
  -ms-flex: 0 0 0 33.33%;
  max-width: 33.33%;
  text-align: center;
  margin-bottom: 50px;
}
.contact .contact-info-item .icon {
  display: inline-block;
  -webkit-transform: all 0.3s ease;
  transform: all 0.3s ease;
}
.contact .contact-info-item .icon:hover {
  transform: scale(1.05);
}
.contact .contact-info-item .icon .fa {
  font-size: 40px;
  color: var(--skin-color);
}
.contact .contact-info-item h4 {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-black-900);
  text-transform: capitalize;
  margin: 15px 0 15px;
}
.contact .contact-info-item p {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
  margin: 0;
  font-weight: 400;
}
.contact .contact-form {
  flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  max-width: 100%;
  padding-top: 25px;
  background-color: var(--bg-black-100);
  -webkit-box-shadow: 0 0 10px rgba(48, 46, 77, 0.5);
  box-shadow: 0 0 10px rgba(48, 46, 77, 0.5);
  border-radius: 15px;
}
.contact .contact-form .col-6 {
  flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  max-width: 50%;
}
.contact .contact-form .col-12 {
  flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  max-width: 100%;
}
.contact .contact-form .form-item {
  margin-bottom: 25px;
}
.contact .contact-form .form-item .form-control {
  width: 100%;
  height: 45px;
  border-radius: 25px;
  background-color: var(--bg-black-900);
  border: 1px solid var(--bg-black-50);
  padding: 10px 25px;
  font-size: 16px;
  color: var(--text-black-700);
  -webkit-transform: all 0.3s ease;
  transform: all 0.3s ease;
}
.contact .contact-form .form-item .form-control:focus {
  -webkit-box-shadow: 0 0 15px rgba(48, 46, 77, 0.5);
  box-shadow: 0 0 15px rgba(48, 46, 77, 0.5);
}
.contact .contact-form .form-item textarea.form-control {
  height: 120px;
}
.contact .contact-form .btn {
  height: 50px;
  padding: 0 50px;
}

/* responsive Design Styling */

@media (max-width: 1192px) {
  .section .container {
    padding-top: 70px;
  }
  .aside {
    left: -270px;
  }
  .aside.open {
    left: 0px;
  }
  /* .main-content {
    padding-left: 0;
  } */
  .aside .nav-toggler {
    display: flex;
    display: -ms-flexbox;
  }
  .aside .nav-toggler.open {
    /* left: 220px; */
    left: 300px;
  }

  .section {
    left: 0;
  }
  .section.open {
    left: 270px;
  }
  .about .about-content .personal-info .info-item p span {
    display: block;
    margin-left: 0;
  }
  .about .about-content .personal-info .info-item p {
    font-size: 14px;
  }
  
  /* .services .services-item,.project .project-item {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
   */

  /* .contact .contact-info-item .icon .fa {
    font-size: 25px;
  }
  .contact .contact-info-item h4 {
    font-size: 14px;
    margin: 5px 0 5px;
  }
  .contact .contact-info-item p {
    font-size: 12px;
    line-height: 15px;
  } */
  
}

@media (max-width: 991px) {
  .project .project-item,
  .services .services-item {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  /* .about .about-content .education,
  .about .about-content .experience {
    flex: 0 0 100%;
    max-width: 100%;
  } */
}

@media (max-width: 767px) {
  .contact .contact-form .col-6,
  .contact .contact-info-item,
  .project .project-item,
  .services .services-item,
  .about .about-content .experience,
  .about .about-content .education,
  .about .about-content .skills,
  .about .about-content .personal-info {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .project .project-item{
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .project-btn{
    margin-left: 15%;
    margin-right: 5%;
  }
  
}
